<div class="footer wf-section">
      <div class="footer-container w-container">
        <div class="w-layout-grid footer-grid">
          <div class="footer-links-container">
            <a href="{{ links.2f }}" aria-current="page" class="footer-link w--current">{{ texts.2268ff }}</a>
            <a href="{{ links.784ad998 }}" class="footer-link">{{ texts.-46599efb }}</a>
            <a href="{{ links.55b8e8be }}" class="footer-link">{{ texts.645efb4b }}</a>
            <a href="{{ links.4b0e6111 }}" class="footer-link">{{ texts.-64104400 }}</a>
          </div>
          <div class="footer-links-container">
            <a href="{{ links.3554c9c9 }}" target="_blank" class="footer-link">{{ texts.2c9a4253 }}</a>
            <a href="{{ links.46bdd7c0 }}" target="_blank" class="footer-link">{{ texts.4b0ff13e }}</a>
            <a href="{{ links.-7188636a }}" class="footer-link"><strong>{{ texts.2ac4af00 }}</strong><br></a>
            <a href="{{ links.-2bb581da }}" class="footer-link">{{ texts.68e44a1e }}</a>
          </div>
        </div>
      </div>
    </div>