<div data-animation="default" class="nav-bar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-duration="0" data-doc-height="1">
      <div class="nav-container w-container">
        <div class="logo-div">
          <a href="{{ links.2f }}" aria-current="page" class="nav-logo w-inline-block w--current">
            <div>{{ texts.-e0cc8cb }}</div>
          </a>
        </div>
        <nav role="navigation" class="vertical-nav-menu w-nav-menu">
          <div class="mobile-menu-tabs">
            <a href="{{ links.2f }}" aria-current="page" class="mobile-menu-tab home w-inline-block w--current">
              <div class="tab-menu-title">{{ texts.2268ff }}</div><img src="{{ images.44e2536f.url }}" loading="lazy" width="249" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" alt="{{ images.44e2536f.alt | trim | escape }}" class="home-menu-image">
            </a>
            <a href="{{ links.55b8e8be }}" class="mobile-menu-tab w-inline-block">
              <div class="tab-menu-title">{{ texts.3c2336d }}</div><img src="{{ images.3a6302d.url }}" loading="lazy" width="249" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" alt="{{ images.3a6302d.alt | trim | escape }}" class="about-menu-image">
            </a>
            <a href="{{ links.23 }}" class="mobile-menu-tab contact w-inline-block">
              <div class="tab-menu-title">{{ texts.-46599efb }}</div><img src="{{ images.-29396cab.url }}" loading="lazy" width="184" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" alt="{{ images.-29396cab.alt | trim | escape }}" class="work-menu-image">
            </a>
            <a href="{{ links.23 }}" class="mobile-menu-tab work w-inline-block">
              <div class="tab-menu-title">{{ texts.1fa3c2 }}</div><img src="{{ images.260056a1.url }}" loading="lazy" width="120" alt="{{ images.260056a1.alt | trim | escape }}" class="blog-menu-image">
            </a>
            <a href="{{ links.4b0e6111 }}" class="mobile-menu-tab last w-inline-block">
              <div class="tab-menu-title">{{ texts.-64104400 }}</div><img src="{{ images.28cff957.url }}" loading="lazy" width="240" alt="{{ images.28cff957.alt | trim | escape }}" class="contact-menu-image">
            </a>
          </div>
        </nav>
        <div data-w-id="cdb5d04f-bef6-1483-59f1-a0b426aab3bf" class="menu-button w-nav-button">
          <div class="top-line"></div>
          <div class="bottom-line"></div>
        </div>
      </div>
    </div>