<div class="desktop-menu-tabs">
      <a href="{{ links.2f }}" aria-current="page" class="menu-tab home w-inline-block w--current">
        <div class="tab-menu-title">{{ texts.2268ff }}</div><img src="{{ images.44e2536f.url }}" loading="lazy" width="600" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" alt="{{ images.44e2536f.alt | trim | escape }}" class="home-menu-image">
      </a>
      <a href="{{ links.55b8e8be }}" class="menu-tab about w-inline-block">
        <div class="tab-menu-title">{{ texts.645efb4b }}</div><img src="{{ images.3a6302d.url }}" loading="lazy" width="400" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;400px&quot;}]" sizes="(max-width: 991px) 100vw, 400px" alt="{{ images.3a6302d.alt | trim | escape }}" class="about-menu-image">
      </a>
      <a href="{{ links.23 }}" class="menu-tab work w-inline-block">
        <div class="tab-menu-title">{{ texts.-3f4dde7b }}</div><img src="{{ images.68cc8d3d.url }}" loading="lazy" width="650" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" alt="{{ images.68cc8d3d.alt | trim | escape }}" class="work-menu-image">
      </a>
      <a href="{{ links.23 }}" class="menu-tab blog w-inline-block">
        <div class="tab-menu-title">{{ texts.1fa3c2 }}</div><img src="{{ images.260056a1.url }}" loading="lazy" width="700" alt="{{ images.260056a1.alt | trim | escape }}" class="blog-menu-image">
      </a>
      <a href="{{ links.4b0e6111 }}" class="menu-tab contact w-inline-block">
        <div class="tab-menu-title">{{ texts.-64104400 }}</div><img src="{{ images.28cff957.url }}" loading="lazy" width="680" alt="{{ images.28cff957.alt | trim | escape }}" class="contact-menu-image">
      </a>
    </div>